on:
  push:
jobs:
  package:
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set Version
        run: echo ::set-env name=VERSION::$(git rev-parse --short HEAD)
      - name: Get Wails dependencies
        run: sudo apt update && sudo apt install -y libgtk-3-dev libwebkit2gtk-4.0-dev
        if: matrix.platform == 'ubuntu-latest'
      - name: Get Wails
        run: go get -u github.com/wailsapp/wails/cmd/wails
      - name: Build package macOS
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          echo "building on ${{ matrix.platform }}"
          mkdir -p ~/.wails
          cp wails.json ~/.wails/
          export LOG_LEVEL=debug
          export GODEBUG=1
          wails build -p
          ls
          echo "turning the .app into a .dmg"
          npm install -g appdmg
          appdmg dmg-spec.json optimus_${{ env.GITHUB_REF }}_macOS.dmg
        if: matrix.platform == 'macos-latest'
      - name: Build package linux
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          echo "building on ${{ matrix.platform }}"
          echo ${{ env.GITHUB_REF }}
          echo ${{ env.GITHUB_HEAD_REF }}
          mkdir -p ~/.wails
          cp wails.json ~/.wails/
          export LOG_LEVEL=debug
          export GODEBUG=1
          wails build
          # wget https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage
          # chmod +x linuxdeploy*.AppImage
          # ls ./
          # ./linuxdeploy*.AppImage --appdir AppDir --executable ./build/optimus --desktop-file=optimus.AppImage.desktop --icon-file=appicon--512.png --output appimage
          mv ./build/optimus ./build/optimus_${{ env.GITHUB_REF }}_linux_x86_64
        if: matrix.platform == 'ubuntu-latest'
      - name: Build package windows
        run: |
          $GP = (go env GOPATH)
          $env:path = "$env:path;$GP\bin"
          echo "building on ${{ matrix.platform }}"
          Set-Variable -Name "WIN_VERSION" -Value $(git rev-parse --short HEAD)
          New-Item -ItemType directory -Path "$HOME\.wails" -Force
          Copy-Item -Path "$PWD\wails.json" -Destination "$HOME\.wails\wails.json"
          choco install mingw
          wails build -p
        if: matrix.platform == 'windows-latest'
      - name: upload artifact macOS
        uses: actions/upload-artifact@v1
        with:
          name: optimus-macOS
          path: optimus_${{ env.GITHUB_REF }}_macOS.dmg
        if: matrix.platform == 'macos-latest'
      - name: upload artifact linux
        uses: actions/upload-artifact@v2-preview
        with:
          name: optimus-linux
          path: ./build/optimus_${{ env.GITHUB_REF }}_linux_x86_64
        if: matrix.platform == 'ubuntu-latest'
#      - name: upload artifact linux appimage
#        uses: actions/upload-artifact@v2-preview
#        with:
#          name: optimus-linux-appimage
#          path: Optimus-${{ env.VERSION }}-x86_64.AppImage
#        if: matrix.platform == 'ubuntu-latest'
      - name: upload artifact windows
        uses: actions/upload-artifact@v1
        with:
          name: optimus-windows
          path: ./build/optimus.exe
        if: matrix.platform == 'windows-latest'

  release:
    runs-on: ubuntu-latest
    needs: package
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: true
      - name: Download macOS package
        uses: actions/download-artifact@v1
        with:
          name: optimus-macOS
      - name: Upload macOS package to release
        id: upload-macOS-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./optimus-macOS/optimus_${{ env.GITHUB_REF }}_macOS.dmg
          asset_name: optimus_${{ env.GITHUB_REF }}_macOS.dmg
          asset_content_type: application/octet-stream
      - name: Download linux package
        uses: actions/download-artifact@v1
        with:
          name: optimus-linux
      - name: Upload Linux package to release
        id: upload-linux-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./optimus-linux/optimus_${{ env.GITHUB_REF }}_linux_x86_64
          asset_name: optimus_${{ env.GITHUB_REF }}_linux_x86_64
          asset_content_type: application/octet-stream
      - name: Download windows package
        uses: actions/download-artifact@v1
        with:
          name: optimus-windows
      - name: Upload Windows package to release
        id: upload-windows-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./optimus-windows/optimus.exe
          asset_name: optimus.exe
          asset_content_type: application/octet-stream
