@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eee;
}

* {
    user-select: none;
}

html {
    background-color: #131313;
    background-size: 20px 20px;
    overflow: hidden;
    height: 100%;
}

body {
    scrollbar-base-color: #000;
    scrollbar-face-color: #fff;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #fff;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */ url('../fonts/roboto/roboto-v18-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('../fonts/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
