@import url('animations.css');
@import url('buttons.css');
@import url('input.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
    /*font-family: 'Lato', Helvetica, Arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #b3b3b3;
}

* {
    /*cursor: default;*/
    user-select: none;
}

html {
    background-color: #18181f;
    background-size: 20px 20px;
    overflow: hidden;
    height: 100%;
}

body {
    scrollbar-base-color: #000;
    scrollbar-face-color: #fff;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #fff;
    height: 100%;
}

button {
    /*cursor: default;*/
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

