.tooltip {
    background-color: #18181f;
    /*border: 2px solid #3a3a42;*/
    border-radius: 6px;
    color: #f4f5f9;
    display: block;
    font-size: 14px;
    max-width: 280px;
    padding: 0.5rem 1rem;
    z-index: 100;
}